body {
    padding-top: 80px !important; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
}

.container {
    padding-top: 0 !important; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
    margin-top: 0 !important; /* Réinitialisez la marge en haut */
}

#mainContainer {
    margin-top: 250px;
}

.custom-h2 {
    text-align: center;
    color: #007BFF; /* Couleur bleue de Bootstrap */
    font-size: 2.5em; /* Taille de la police plus grande */
    margin-top: 20px; /* Espace en haut */
    margin-bottom: 40px; /* Espace en bas */
}