<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: headerFragment">
        <title>À propos</title>
    </head>
    <body>
        <div class="container">
            <h1 class="my-4">À propos de nous</h1>
            <p>isquare.digital est une entreprise leader dans le domaine de l'IT. Nous nous spécialisons dans le développement d'applications web robustes et sécurisées. Notre équipe d'experts utilise une variété de technologies, y compris Java et Spring Boot, pour créer des solutions personnalisées qui répondent aux besoins spécifiques de nos clients. Ce portail client est un exemple de notre engagement à fournir des produits de haute qualité qui améliorent l'efficacité et la productivité de nos clients.</p>
            <h2 class="my-4">Notre équipe</h2>
            <div class="row">
                <!-- Remplacez par les informations de votre équipe -->
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/static/images/equipe.jpeg" alt="Image de l'équipe">
                        <div class="card-body" style="margin-bottom: 100px; padding-bottom: 50px;">
                            <h5 class="card-title">Nom de l'équipe</h5>
                            <p class="card-text">Description de l'équipe.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pagefoot" th:include="layout :: footerFragment">Footer
            </div>
        </div>
    </body>
</html>