<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
<div class="container">
    <h1 class="my-4">Add New Customer</h1>
    <form action="#" th:action="@{/customers}" th:object="${customer}" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" id="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" th:field="*{address}" id="address" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="serviceRendered">Service Rendered</label>
            <input type="text" th:field="*{serviceRendered}" id="serviceRendered" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id="pagefoot" th:include="layout :: footerFragment">Footer
    </div>
</div>
<!-- container -->
</body>
</html>