<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: headerFragment">
        <title>Accueil</title>
    </head>
    <body>
        <div id="mainContainer" class="container">
            <!-- Header -->
            <header class="bg-primary text-white text-center py-5">
                <div class="container">
                    <h1 class="display-4">Bienvenue chez isquare.digital</h1>
                    <p class="lead">Nous sommes spécialisés dans le développement d'applications web robustes et sécurisées.</p>
                </div>
            </header>

            <!-- About Section -->
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2>À propos de nous</h2>
                            <p class="lead">isquare.digital est une entreprise leader dans le domaine de l'IT. Nous nous spécialisons dans le développement d'applications web robustes et sécurisées. Notre équipe d'experts utilise une variété de technologies, y compris Java et Spring Boot, pour créer des solutions personnalisées qui répondent aux besoins spécifiques de nos clients.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Services Section -->
            <section class="bg-light py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2>Nos services</h2>
                            <p class="lead">Nous offrons une gamme de services pour aider votre entreprise à réussir dans le monde numérique. Que vous ayez besoin d'une nouvelle application web, d'une refonte d'une application existante ou d'une équipe pour gérer votre infrastructure IT, nous avons les compétences et l'expertise pour vous aider.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Team Section -->
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2>Notre équipe</h2>
                            <p class="lead">Notre équipe est composée de professionnels expérimentés qui sont passionnés par ce qu'ils font. Nous travaillons ensemble pour fournir les meilleures solutions possibles à nos clients.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- about Section -->
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2>Le projet</h2>
                            <p class="lead">Ce portail client est une application web développée en Java avec le framework Spring Boot.
                                Il permet aux utilisateurs de gérer des informations sur les clients, y compris leur nom, leur email,
                                leur adresse et les services qu'ils ont reçus.
                                Les utilisateurs peuvent ajouter, modifier et supprimer des clients.
                                Cette application utilise Thymeleaf pour les templates HTML et est sécurisée avec OAuth2.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- customer Section -->
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2 class="my-4">Existing Customers</h2>
                            <div class="well">
                                <b>Enter the intranet: </b><a th:href="@{/customers}" class="btn btn-primary">Customers</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <div id="pagefoot" th:include="layout :: footerFragment">Footer</div>

        </div>
        <!-- container -->
    </body>
</html>