<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment">
    <title>Politique de confidentialité</title>
  </head>
  <body>
    <div class="container">
      <h1 class="my-4">Politique de confidentialité</h1>
      <h2 class="my-4">Collecte d'informations</h2>
      <p>isquare.digital s'engage à protéger et à respecter votre vie privée. Nous utilisons vos informations personnelles uniquement pour fournir et améliorer le service. En utilisant le service, vous acceptez la collecte et l'utilisation d'informations conformément à cette politique.</p>
      <h2 class="my-4">Utilisation des informations</h2>
      <p>Explication de comment et pourquoi l'entreprise utilise les informations collectées.</p>
      <h2 class="my-4">Partage des informations</h2>
      <p>Explication de comment, pourquoi et avec qui l'entreprise partage les informations collectées.</p>
      <div id="pagefoot" th:include="layout :: footerFragment">Footer
      </div>
    </div>
  </body>
</html>