<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
    <title>Services</title>
</head>
<body>
<div class="container">
    <h1 class="my-4">Nos Services</h1>

    <!-- Service 1 -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-fluid rounded mb-4" src="/static/images/services.png" alt="">
        </div>
        <div class="col-lg-8">
            <h2>Service 1</h2>
            <p>Description du service 1...</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Service 2 -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-fluid rounded mb-4" src="/static/images/services.png" alt="">
        </div>
        <div class="col-lg-8">
            <h2>Service 2</h2>
            <p>Description du service 2...</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Service 3 -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-fluid rounded mb-4" src="/static/images/services.png" alt="">
        </div>
        <div class="col-lg-8">
            <h2>Service 3</h2>
            <p>Description du service 3...</p>
        </div>
    </div>
    <!-- /.row -->

    <div id="pagefoot" th:include="layout :: footerFragment">Footer</div>
</div>
<!-- /.container -->
</body>
</html>